/* Styles pour la VBox */
.vbox {
    -fx-background-color: #f5f5f5;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Style du label principal */
.label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Styles pour les champs de texte et TextArea */
.text-field, .text-area, .combo-box {
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-border-color: #ccc;
    -fx-border-radius: 8;
    -fx-font-size: 14px;
}

.text-field:focused, .text-area:focused, .combo-box:focused {
    -fx-border-color: #4CAF50;
}

/* Style pour les boutons */
.button {
    -fx-background-color: #ff9800;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e68900;
}

#choisirImageButton {
    -fx-background-color: #4CAF50;
}

#choisirImageButton:hover {
    -fx-background-color: #45a049;
}

/* Style pour l'image */
.image-view {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #ddd;
    -fx-border-width: 2px;
}